.plan-card {
    border-radius: 15px; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: rgba(231, 201, 201, 0.1);
    min-height: 260px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .plan-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
  }
  
  .card-cost {
    font-size: 1.5rem;
    color: #ffd700; 
  }
  