<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ResetPassword.css' %}">
</head>
<body>
    <div id="bg" class="container-fluid">
        <div id="bg2" class="row justify-content-center align-items-center vh-100">
            <div class="col-6 col-lg-4">
                <div id="cardbg" class="card p-5">
                    <form id="form" method="POST">
                        {% csrf_token %}
                        <h2>Change Password</h2>

                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <label for="current_password" class="mt-4 mb-3">Current Password:</label>
                        <input type="password" class="form-control" name="current_password" placeholder="Current Password" required>
                        
                        <label for="new_passwordpassword" class="mt-4 mb-3">New Password:</label>
                        <input type="password" class="form-control" name="new_password" placeholder="New Password" required>
                        
                        <label for="confirm_password" class="mt-4 mb-3">Confirm Password:</label>
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
                        
                        <button id="btn" type="submit" class="btn btn-outline-secondary mt-4 mb-3 d-block m-auto">Submit</button>
                        <a class="forgot text-muted text-decoration-none d-block text-center mt-3" href="{% url "home" %}">Back to Home</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
