<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Movie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="admin.css">
    <style>
        .star-rating {
            display: flex;
            cursor: pointer;
            font-size: 1.5rem;
        }
        .star {
            color: lightgray;
        }
        .star.rated {
            color: gold;
        }
    </style>
</head>
<body>
    <div id="bg" class="container-fluid">
        <div class="row">
            
            {% include 'Navbar.html' %}
            {% block 'content' %}
            {% endblock %}

            
            <div class="col-12 col-xl-8 mx-auto p-4">
                <h2 class="text-center">{{movie_list.title}}</h2>

                <div class="video-container mt-4 mb-4">
                    <video controls width="100%" height="540" src="{{movie_list.video}}" frameborder="0" allowfullscreen></video>
                </div>

                <h5>Description</h5>
                <p>
                    {{movie_list.description}}
                </p>

        
                <h5>Movie Rating</h5>
                <div class="star-rating mt-3 mb-4" id="star-rating">
                    <span class="star" data-value="1">★</span>
                    <span class="star" data-value="2">★</span>
                    <span class="star" data-value="3">★</span>
                    <span class="star" data-value="4">★</span>
                    <span class="star" data-value="5">★</span>
                </div>

                <h5>Thumbnail</h5>
                <div class="mb-4">
                    <img src="{{movie_list.thumbnail}}" alt="Thumbnail" class="img-thumbnail" width="150">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        
        const stars = document.querySelectorAll('.star');

        stars.forEach(star => {
            star.addEventListener('click', () => {
                const rating = star.getAttribute('data-value');
                stars.forEach(s => {
                    s.classList.remove('rated');
                    if (s.getAttribute('data-value') <= rating) {
                        s.classList.add('rated');
                    }
                });
            });
        });
    </script>
</body>
</html>
